---
title: "Reading notes:"
tags: ["WG-async", "reading-club", "minutes"]
date: {{CURRENT_DATE}}
url:
---

# Reading notes:

Link to document:

## Attendance

- People:

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.

## <Topic>

<name>: Comment/question.
